<div class="flexLayout flexAlignCenter flexJustifyCenter flexGrow1 marginTop0_5">
    <div class="flexLayout flexDirectionColumn flexJustifyCenter flexAlignCenter marginLeft0_5">

        <div class="flexLayout flexAlignCenter flexJustifyCenter flexGrow1 marginTop0_5">
            <div class="circleButton marginLeft0_5" style="display: inline-block;"
                 ng-click="panel.callActorService(component, 'up')">
                <i class="fas fa-angle-up"></i>
            </div>
        </div>

        <div class="flexLayout flexAlignCenter flexJustifyCenter flexGrow1 marginTop0_5">

            <div class="circleButton marginLeft0_5" style="display: inline-block;"
                 ng-click="panel.callActorService(component, 'left')">
                <i class="fas fa-angle-left"></i>
            </div>

            <div class="circleButton marginLeft0_5" style="display: inline-block;">
                <i class="far fa-image"></i>
            </div>

            <div class="circleButton marginLeft0_5" style="display: inline-block;"
                 ng-click="panel.callActorService(component, 'right')">
                <i class="fas fa-angle-right"></i>
            </div>

        </div>

        <div class="flexLayout flexAlignCenter flexJustifyCenter flexGrow1 marginTop0_5">
            <div class="circleButton marginLeft0_5" style="display: inline-block;"
                 ng-click="panel.callActorService(component, 'down')">
                <i class="fas fa-angle-down"></i>
            </div>
        </div>

    </div>
</div>



